@use "sass:map";

$colors: (
  primary: (
    blue: (
      primary: #0c1b60,
    ),
    red: (
      primary: #6b1010,
    ),
  ),
  text: (),
  btn: (
    nav-toggle: (
      default: white,
      hover: white,
      focus: #faf8f8,
    ),
  ),
  nav: (
    bg: (
      0_9: rgba(white, 0.9),
      0_97: rgba(white, 0.97),
      0_975: rgba(white, 0.975),
    ),
  ),
);

$colors-hc-blue: map.get(map.get(map.get($colors, primary), blue), primary);
$colors-hc-red: map.get(map.get(map.get($colors, primary), red), primary);
$colors-nav-bg-0_9: map.get(map.get(map.get($colors, nav), bg), 0_9);
$colors-nav-bg-0_97: map.get(map.get(map.get($colors, nav), bg), 0_97);
$colors-nav-bg-0_975: map.get(map.get(map.get($colors, nav), bg), 0_975);
