@import url("https://use.typekit.net/eyh1bcv.css");
@import url("https://use.typekit.net/evz5dus.css");

$fonts: (
  default: (
    article: (
      100: "ballinger-mono",
    ),
  ),
  headings: (
    h1: (
      100: "Arpona",
    ),
  ),
);
