@use "../abstracts/mixins" as *;
.grid-alt {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr;
  @include mq-lg() {
    grid-template-columns: repeat(2, 1fr);
    @for $n from 1 through 10 {
      img:nth-child(#{$n}) {
        order: $n;
      }
      div:nth-child(#{$n + 1}) {
        order: $n + 1;
      }
      @if (($n + 5) % 4) == 0 {
        img:nth-child(#{$n}) {
          order: $n + 1;
        }
        div:nth-child(#{$n + 1}) {
          order: $n;
        }
      }
    }
  }
}
